[*.cs]

# CC0068: Method is not used
dotnet_diagnostic.CC0068.severity = none

# IDE0051: Method is not used
dotnet_diagnostic.IDE0051.severity = none

# CC0091: Use static method
dotnet_diagnostic.CC0091.severity = none

# CA1822: Member does not access instance data and can be marked as static
dotnet_diagnostic.CA1822.severity = none
