<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncClipboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SyncClipboard.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>https://file.jericx.xyz/remote.php/dav/files/JericX/Clipboard</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="IFPULL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IFPUSH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ISCUSTOMSERVER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CUSTOMNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="IntervalTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="RetryTimes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>10000</value>
            </setting>
        </SyncClipboard.Properties.Settings>
    </userSettings>
	<!-- <system.net>
		<connectionManagement>
			<add address = "*" maxconnection = "20" />
		</connectionManagement>
	</system.net> -->
</configuration>