version: '3'
services:
  syncclipboard-server:
    image: jericx/syncclipboard-server:latest
    container_name: syncclipboard-server
    restart: unless-stopped
    ports:
      - "5033:5033"
    environment:
      - SYNCCLIPBOARD_USERNAME=you_username
      - SYNCCLIPBOARD_PASSWORD=you_password
    volumes:
      - /data/syncclipboard-server:/app/data