[*.cs]

# CC0105: You should use 'var' whenever possible.
dotnet_diagnostic.CC0105.severity = none

# CC0001: You should use 'var' whenever possible.
dotnet_diagnostic.CC0001.severity = none

# CC0034: RedundantFieldAssignmentAnalyzer https://code-cracker.github.io/diagnostics/CC0034.html
dotnet_diagnostic.CC0034.severity = none

# CC0057: Unused Parameter
dotnet_diagnostic.CC0057.severity = none

# Simplify new expression https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0090
dotnet_diagnostic.IDE0090.severity = none

# Asynchronous method can be terminated with the 'Async' keyword.
dotnet_diagnostic.CC0061.severity = none

# Make readonly
dotnet_diagnostic.CC0074.severity = none

# CC0072: Remove Async termination when method is not asynchronous.
dotnet_diagnostic.CC0072.severity = none

# CsWinRT1029: TODO - Rmove this when use native AOT
dotnet_diagnostic.CsWinRT1029.severity = none
dotnet_diagnostic.CsWinRT1028.severity = none

# IDE0305: Add()¡¢AddRange()¡¢AsSpan()¡¢ToList() ºÍ ToArray() https://learn.microsoft.com/zh-cn/dotnet/fundamentals/code-analysis/style-rules/ide0305
dotnet_diagnostic.IDE0305.severity = none

[{SyncClipboard.Core/Clipboard/Profile/*.cs,SyncClipboard.Core/UserServices/**}]
# IDE0130: namespace
dotnet_diagnostic.IDE0130.severity = none