name: build

permissions:
    contents: write
on:
  push:
    branches:
      - '**'
    tags: 
      - 'v*'

jobs:
  prebuild:
    uses: ./.github/workflows/prebuild.yml
    with:
      checkout-repo: ${{ github.repository }}
      checkout-ref: ${{ github.ref }}

  build-win:
    needs: [build-server, prebuild]
    uses: ./.github/workflows/win-release.yml

  build-server:
    uses: ./.github/workflows/server-release.yml
    secrets: inherit

  build-linux:
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    needs: prebuild
    uses: ./.github/workflows/linux-release.yml
    with:
      checkout-repo: ${{ github.repository }}
      checkout-ref: ${{ github.ref }}
    
  build-mac:
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    needs: prebuild
    uses: ./.github/workflows/mac-release.yml
    with:
      checkout-repo: ${{ github.repository }}
      checkout-ref: ${{ github.ref }}