name: mac-release

permissions:
  contents: write

on:
  workflow_call:  
    inputs:
      checkout-repo:
        required: true
        type: string
      checkout-ref:
        required: true
        type: string

jobs:
  package:
    uses: ./.github/workflows/mac-package.yml
    with:
      checkout-repo: ${{ inputs.checkout-repo }}
      checkout-ref: ${{ inputs.checkout-ref }}

  release-macos:
    needs: package
    if : ${{ startsWith(github.ref, 'refs/tags/') }}
    strategy:
      matrix:
        cpu: [x64, arm64]

    runs-on: ubuntu-latest
    steps:
      - name: Download version
        uses: actions/download-artifact@v4
        with:
          name: version-desktop

      - name: Download feature
        uses: actions/download-artifact@v4
        with:
          name: feature-desktop

      - name: Read version
        id: version
        uses: juliangruber/read-file-action@v1
        with:
          path: version.txt

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: "SyncClipboard_${{ steps.version.outputs.content }}_macos_${{ matrix.cpu }}.dmg"

      - name: Release
        uses: ncipollo/release-action@v1
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          allowUpdates: true
          prerelease: ${{ contains(github.ref_name, 'preview') }}
          artifacts: SyncClipboard_${{ steps.version.outputs.content }}_macos_${{ matrix.cpu }}.dmg
          bodyFile: feature.txt