name: prebuild

on:
  workflow_call:  
    inputs:
      checkout-repo:
        required: true
        type: string
      checkout-ref:
        required: true
        type: string

jobs:
  prebuild:
    runs-on: windows-2025    # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.checkout-repo }}
        ref: ${{ inputs.checkout-ref }}

    - name: Generate windows change log
      run: |
        .\build\PreRelease.bat
        type feature.txt

    - name: Append current run URL to feature.txt
      shell: pwsh
      env:
        RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
      run: |
        Add-Content -Path "feature.txt" -Value ""
        Add-Content -Path "feature.txt" -Value "> [!NOTE]" -Encoding utf8
        Add-Content -Path "feature.txt" -Value "> 不附带运行时体积更小的安装包可以在[此处下载]($env:RUN_URL)" -Encoding utf8
        Get-Content feature.txt -Encoding utf8

    - name: Upload windows change log
      uses: actions/upload-artifact@v4
      with:
        name: feature
        path: feature.txt